:root {
    --primary-color: #d2d2cf;
    --secondary-color: #e2e2df;
    --tertiary-color: #bdbdbd;
    --background-extra-color: #d4d4d4;
    --background-color: #f1f1f1;
    --content-body-color: #f7f7f7;
    --text-color: #333;
}

.header-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 100px;
}

.logo-container {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 100px;
}

.nav-container {
    width: 70%;
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: flex-end;
}

.nav-link {
    text-decoration: none;
    margin: 10px 10px;
    background-color: var(--primary-color); /* Default background color */
    border: var(--secondary-color) solid 1px;
    border-bottom: none;
    padding: 5px 10px 1px 10px;
    border-radius: 10px 10px 0px 0px;
    color: var(--text-color);
    position: relative; /* Required for pseudo-element positioning */
    overflow: hidden; /* Prevent pseudo-element overflow */
    z-index: 0; /* Ensure the text stays above the pseudo-element */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth background-color transition */
}

.nav-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(273deg, rgba(249,198,201,1) 0%, rgba(242,198,222,1) 14%, rgba(219,205,240,1) 27%, rgba(198,222,241,1) 42%, rgba(201,228,222,1) 58%, rgba(201,228,222,1) 73%, rgba(250,237,203,1) 87%, rgba(247,217,196,1) 100%);
    opacity: 0; /* Start with no gradient visible */
    transition: opacity 0.3s ease-in-out; /* Smooth opacity transition */
    z-index: -1; /* Place behind the text */
    border-radius: 10px 10px 0px 0px;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0);
    color: var(--text-color); 
}

.nav-link:hover::before {
    opacity: 1; /* Show the gradient on hover */
}

body {
    background-color: var(--background-color);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.content-body {
    max-width: 80%;
    background-color: var(--content-body-color);
    border: var(--background-extra-color) solid 1px;
    min-height: 600px;
    margin: auto;
    border-radius: 50px;
    padding: 20px;
    color: var(--text-color);
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-div {
    display: flex;
    justify-content: space-around;
    width: 50%;
    background-color: var(--primary-color);
    border-radius: 0px 0px 15px 15px;
    padding: 10px 0px;
    margin-bottom: 20px;
    border: var(--secondary-color) solid 1px;
    border-top: none;
    color: var(--text-color);
 }

 .build-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--text-color);
 }

 .build-quilt-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    width: 100%;
    height: 100%;
    color: var(--text-color);
 }

 .build-quilt-form-submit {
    width: 100%;
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .build-quilt-form-submit button {
    width: 50%;
    height: 50px;
    background-color: var(--primary-color);
    border: var(--secondary-color) solid 1px;
    color: var(--text-color);
    font-size: 20px;
    border-radius: 10px;
 }

.build-quilt-form-submit button:hover {
    background-color: var(--tertiary-color);
    color: var(--text-color);
    transition: 0.3s;
}


