:root {
    --primary-color: #9db6b0;
    --secondary-color: #7d9690;
    --tertiary-color: #b8cac6;
    --background-color: #f0f0f0;
    --content-body-color: #ffffff;
    --text-color: #333;
}

.header-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 100px;
}

.logo-container {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
}

.nav-container {
    width: 70%;
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: flex-end;
}

.nav-link {
    text-decoration: none;
    margin: 10px 10px;
    background-color: var(--primary-color);
    border: var(--secondary-color) solid 1px;
    border-bottom: none;
    padding: 5px 10px 1px 10px; 
    border-radius: 10px 10px 0px 0px;
    color: var(--text-color);
}

.nav-link:hover {
    background-color: var(--tertiary-color);
    color: var(--text-color);
    transition: 0.3s;
}

body {
    background-color: var(--background-color);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.content-body {
    max-width: 80%;
    background-color: var(--content-body-color);
    border: var(--secondary-color) solid 1px;
    min-height: 600px;
    margin: auto;
    border-radius: 50px;
    padding: 20px;
    color: var(--text-color);
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-div {
    display: flex;
    justify-content: space-around;
    width: 50%;
    background-color: var(--primary-color);
    border-radius: 0px 0px 15px 15px;
    padding: 10px 0px;
    margin-bottom: 20px;
    border: var(--secondary-color) solid 1px;
    border-top: none;
    color: var(--text-color);
 }

 .build-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--text-color);
 }

 .build-quilt-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    width: 100%;
    height: 100%;
    color: var(--text-color);
 }

 .build-quilt-form-submit {
    width: 100%;
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .build-quilt-form-submit button {
    width: 50%;
    height: 50px;
    background-color: var(--primary-color);
    border: var(--secondary-color) solid 1px;
    color: var(--text-color);
    font-size: 20px;
    border-radius: 10px;
 }

.build-quilt-form-submit button:hover {
    background-color: var(--tertiary-color);
    color: var(--text-color);
    transition: 0.3s;
}


