:root {
    --fourpatch-color1: #ff0000;
    --fourpatch-color2: #00ff00;
    --fourpatch-color3: #0000ff;
    --fourpatch-color4: #ffff00;
    --block-size: 100px
}

.fourpatch {
    display: flex;
    width: var(--block-size);
    height: var(--block-size);
    flex-wrap: wrap;
}

.fourpatch1{
    background-color: var(--fourpatch-color1);
    width: 50%;
    height: 50%;
    flex: 50%;
}

.fourpatch2{
    background-color: var(--fourpatch-color2);
    width: 50%;
    height: 50%;
    flex: 50%;
}

.fourpatch3{
    background-color: var(--fourpatch-color3);
    width: 50%;
    height: 50%;
    flex: 50%;
}

.fourpatch4{
    background-color: var(--fourpatch-color4);
    width: 50%;
    height: 50%;
    flex: 50%;
}