:root {
    --railfence-color-1: #f7b5b5;
    --railfence-color-2: #cbfdcb;
    --railfence-color-3: #cbcbf7;
    --railfence-color-4: #f7f8c9;
}

.railfence {
    display: flex;
    background-color: aqua;
    width: 100px;
    height: 100px;
    flex-wrap: wrap;
}

.railfence-block {
    width: 50px;
    height: 50px;
    display: flex;
}
.railfence-roll {
    width: 25%;
}
.rrotate-1 {
    transform: rotate(90deg);
}
.rrotate-2 {
    transform: rotate(90deg);
    flex-direction: row-reverse;
}
.rrotate-3 {
    flex-direction: row-reverse;
}

.railfence-color-1 {
    background-color: var(--railfence-color-1);
}
.railfence-color-2 {
    background-color: var(--railfence-color-2);
}
.railfence-color-3 {
    background-color: var(--railfence-color-3);
}
.railfence-color-4 {
    background-color: var(--railfence-color-4);
}